<h1>Cửa hàng bán máy tính của Lâm</h1>

<div id="container">
  <div id="product-container">
    <div *ngFor="let product of products; let i = index" id="product-card">
      <img [src]="product.image" alt="{{ product.name }}" class="product-image"/>
      <h2>{{ product.name }}</h2>
      <h2>{{ product.price | currency:'VND' }}</h2>
      <h2>Còn lại: {{ product.inStock }}</h2>
      <button [disabled]="product.inStock == 0" (click)="addToCart(i)">Thêm vào giỏ</button>
    </div>
  </div>

  <div id="cart-container">
    <div *ngFor="let product of cart; let i = index" id="product-in-cart">
      <img [src]="product.image" alt="{{ product.name }}" class="product-image"/>
      <p>{{ product.name }}</p>
      <p>{{ product.price | currency:'VND' }}</p>
      <p>Số lượng: {{ product.quantity }}</p>
      <p>Tổng: {{ product.price * product.quantity | currency:'VND' }}</p>
      <button (click)="removeFromCart(i)">Xoá</button>
    </div>
    <div id="total-amount">
      <h2>Tổng số tiền: {{ calculateTotal() | currency:'VND' }}</h2>
    </div>
  </div>
</div>
