body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.game-container {
    width: 90%;
    max-width: 950px;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 30px;
}

.settings {
    margin-bottom: 20px;
}

.word-box {
    margin-bottom: 20px;
    /* padding: 10px; */
    border: 2px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
    display: inline-block;
    width: 100%;
    overflow-wrap: break-word;
}

#inputBox {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.stats {
    margin-top: 20px;
}

body.neon {
    background-image: url('assets/images/neon.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(183, 0, 255);
}

body.space {
    background-image: url('assets/images/space.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(10, 54, 253);
}

body.aero {
    background-image: url('assets/images/aero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: rgb(45, 151, 19);
}

.word {
    display: inline-block;
    padding: 2px;
    margin: 2px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.correct {
    background-color: #d4edda;
    border-radius: 3px;
}

.current-word {
    background-color: #cce5ff;
    border-radius: 3px;
    animation: bounce 0.5s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}

.stats {
    margin-top: 20px;
}

button {
    width: 100px;
    height: 30px;
    text-align: center;
    justify-content: space-evenly;
    border-radius: 50px;
    border: 1px;
    background-color: #000000;
    color: #ffffff;
}

button:hover {
    background-color: rgb(182, 182, 182);
    color:#000000
}